* {
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 3rem auto;
}

.container {
  border: 1px solid black;
  display: grid;
  /* can use repeat(4, 1fr) */
  grid-template-columns: 1fr 10% 1fr 50%;
  grid-template-rows: 14rem 3rem 6rem 6rem 6rem;
}

.container {
  background-color: darkgray;
}
/* using nth-child(4n) selecting every 4th element */
div:nth-child(4n) {
  background-color: lightgreen;
}
/* using nth-child(4n + 2) selecting every 4th element plus 2 is this colour */
div:nth-child(4n + 2) {
  background-color: lightblue;
}
